/* styles/Layout.module.css */
.layoutContainer {
  display: flex;
  height: 100vh; /* Ensures the container takes full viewport height */
  width: 100%;
  overflow: hidden; /* Prevents any additional scrollbars from appearing */
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease, width 0.3s ease;
  overflow-y: auto; /* Allows only vertical scrolling within the main content */
  height: 100%; /* Matches the height of the layout container */
}

.contentShift {
  margin-left: 250px;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 1rem;
    width: 100%;
  }

  .contentShift {
    margin-left: 0;
  }
}
