/* styles/Layout.module.css */
.layoutContainer {
  display: flex;
  min-height: 100vh; /* Changed from height to min-height to allow content to grow */
  width: 100%;
  overflow: auto; /* Changed from hidden to auto to allow scrolling */
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease, width 0.3s ease;
  overflow-y: auto; /* Allow the main content to be scrollable */
  max-height: 100vh; /* Ensure the main content doesn’t exceed the viewport height */
}

.contentShift {
  margin-left: 250px;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 1rem;
    width: 100%;
  }

  .contentShift {
    margin-left: 0;
  }
}
