/* styles/Layout.module.css */
.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.contentShift {
  margin-left: 250px;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 1rem;
    width: 100%;
  }

  .contentShift {
    margin-left: 0;
  }
}
