/* styles/RequestOrder.module.css */

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.currentTime {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.header {
  font-size: 2rem;
  text-align: center;
  flex: 1;
}

/* New styles for search input */
.searchContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.searchInput {
  padding: 0.5rem;
  width: 80%;
  max-width: 500px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .currentTime {
    position: static;
    margin-bottom: 0.5rem;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  overflow-y: auto;
  max-height: 450px;
}

.itemCard {
  border: 1px solid #e2e2e2;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.itemCard:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.itemImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.itemName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.itemDescription {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #666;
}

.itemPrice {
  font-weight: bold;
  margin-bottom: 1rem;
}

.quantityContainer {
  margin-bottom: 1rem;
}

.quantityInput {
  width: 50px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addToCartButton,
.submitOrderButton,
.backButton {
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.addToCartButton:hover,
.submitOrderButton:hover,
.backButton:hover {
  background-color: #2b6cb0;
}

.cartSummary {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartList {
  overflow: hidden;
  padding: 0;
  margin-bottom: 1rem;
}

.cartSummary ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.cartSummary ul li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.cartSummary h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.error {
  color: red;
  margin-top: 1rem;
}

.success {
  color: green;
  margin-top: 1rem;
}

.notesInput {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  min-height: 40px;
  font-size: 0.9rem;
  color: #333;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background-color: #fff;
}

.removeButton {
  margin-right: 10px;
  padding: 0;
  background: none;
  color: #888;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.removeButton:hover {
  color: #ff6961;
}
